<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!--<properties resource="com/config/db/db.properties"></properties>	 -->
  <!-- 资源文件的引入 -->
  <properties resource="db.properties"></properties>
  <!-- 别名的映射 -->
  <typeAliases>
	  <package name="com.tz.bean"/><!-- 那么它的默认别名：就是类名 -->
  </typeAliases>
  <!-- sql配置文件的解析和注入，放入sqlsessionFactory,就 放入map,就放入内存中 -->
  <environments default="development">
    <environment id="development">
      <!-- 事务类型 增，删，改-->
      <transactionManager type="MANAGED">
      	  <property name="closeConnection" value="false"/>
      </transactionManager>
      <!-- 数据源  POOLED，它是一个线程池(放入全部都是连接对象)，监听连接的获取，关闭-->
      <dataSource type="POOLED">
        <property name="driver" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
  	<mapper resource="com/tz/dao/user/UserMapper.xml"/>
  	<mapper resource="com/tz/dao/comment/CommentMapper.xml"/>
  </mappers>
</configuration>