<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tz.dao.UserDaoMapper">  
	<!--  所有的增，删，查，改都在这里进行定义  -->
	<select id="findUsers" resultType="User">
		SELECT id,username,password FROM tz_user
	</select>
</mapper>
